<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Arnaud P. Crowther">
  <link rel="icon" type="image/x-icon" href="">
  <link rel="stylesheet" href="https://fontlibrary.org/face/trueno" type="text/css" media="screen" />
  <link rel="stylesheet" href="/assets/css/main.min.css" type="text/css"/>
</head>
