@font-face {
  font-family: XXX;
  src: url(/assets/fonts/XXX-Web-Light.woff) format("woff"),url(/assets/fonts/XXX-Web-Light.woff2) format("woff2");
  font-weight: 300; 
}

@font-face {
  font-family: XXX;
  src: url(/assets/fonts/XXX-Web-Regular.woff) format("woff"),url(/assets/fonts/XXX-Web-Regular.woff2) format("woff2");
}

@font-face {
  font-family: XXX;
  src: url(/assets/fonts/XXX-Web-Semibold.woff) format("woff"),url(/assets/fonts/XXX-Web-Semibold.woff2) format("woff2");
  font-weight: 600; 
}

@font-face {
  font-family: XXX;
  src: url(/assets/fonts/XXX-Web-Bold.woff) format("woff"),url(/assets/fonts/XXX-Web-Bold.woff2) format("woff2");
  font-weight: 700; 
}