nav {
  ul.menu {
    list-style: none;
    li {
      display: inline-block;
      a {
        padding: 20px;
        color: inherit;
        text-decoration: none;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}